.aparato{
    color: white;
    background-color:  rgba(0, 0, 0, 0.952);
   
}

.toditoo{
    background-image: url('/img/segunda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.personas{
    grid-template-columns: auto auto auto;
    margin: 20px;
    display: grid;
}

.useri{
    align-items: center;
  justify-content: center;
    display: flex;
}

.card{
    margin: 20px;
}

.card-body{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.952);
}

