.card-img-top{
    width: 200px;
    height: 200px;
}

.contenido{
    justify-content: center;
    margin: 15px;
    display: grid;
}

.holaa{
    margin: 10px;
    position: relative;
    max-width: 300px;
    padding: 50px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.centro{
    grid-template-columns: auto auto auto;
    margin: 10px;
    display: flex;
}