/* Agrega este CSS a tu archivo CSS (carnes.css) */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Para centrar el contenido */
}

h1 {
    text-align: center;
}

/* Contenedor de las cajas de productos */
.chorizos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Alinear las cajas en la parte superior */
}

/* Estilo de cada caja de producto */
.chorizos-box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('https://img.freepik.com/foto-gratis/ingredientes-cocinar-pasta-sobre-fondo-madera_23-2147925943.jpg');
}

/* Estilo de la imagen dentro de la caja */
.chorizos-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilo para el botón "Comprar" */
.chorizos-box button {
    display: block;
    margin: 0 auto;
}
