label{
    text-align: center;
    margin: 5px;
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.formulario{
    justify-content: center;
    display: grid;
    margin: 10px;
}

body{
    
}