/* Agrega este CSS a tu archivo "huevos.css" */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/foto-gratis/ingredientes-cocinar-pasta-sobre-fondo-madera_23-2147925943.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para que la página sea legible */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    text-align: center;
    color: #333; /* Cambiar color de texto si es necesario */
}

.huevos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.huevos-box {
    width: calc(44% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para las cajas de productos */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #333; /* Cambiar color de texto si es necesario */
}

.huevos-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
}

.huevos-box button {
    display: block;
    margin: 0 auto;
    background-color: #007BFF; /* Cambiar el color de fondo del botón */
    color: #fff; /* Cambiar el color del texto del botón */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.huevos-box button:hover {
    background-color: #0056b3; /* Cambiar el color de fondo del botón al pasar el mouse */
}
