/* public/css/jamon.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://img.freepik.com/foto-gratis/ingredientes-cocinar-pasta-sobre-fondo-madera_23-2147925943.jpg');
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.obleas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Cambiar de "space-between" a "center" */
}

.obleas-box {
    width: calc(33.30% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex; /* Agregar esta propiedad para centrar el contenido */
    flex-direction: column; /* Apilar el contenido verticalmente */
    justify-content: center; /* Centrar el contenido verticalmente */
    align-items: center; /* Centrar el contenido horizontalmente */
}

.obleas-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

