/* public/css/quesos.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos de las cajas de quesos */
.quesos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quesos-box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.quesos-box:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón por encima */
}

.quesos-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.quesos-box h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.quesos-box p {
    font-size: 1rem;
    color: #777;
}

/* Estilos adicionales */
/* Si deseas agregar más estilos personalizados, puedes hacerlo aquí */

